{% load static %}
{% load i18n  %}
  <header>
    <div class="container">
      <nav class="navbar navbar-expand-lg">
        <div class="container">
          <a href="./index.html" class="nav-link logoLink ">
            <img class="logo" src="{% static 'img/лого аброр 1.png' %}" alt="">
          </a>
          <button class="navbar-toggler bg-transparent" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false"
            aria-label="Toggle navigation">
            <i class="fa fa-bars"></i>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav w-100 justify-content-between">
              <li class="nav-item">
                <a class="nav-link" href="#information">Информация</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#projects">Проекты</a>
              </li>
              <li class="nav-item lg-logo">
                <a href="index.html" class="nav-link">
                  <img class="logo" src="{% static 'img/лого аброр 1.png' %}" alt="">
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Партнеры</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#number">Контакты</a>
              </li>
              <li class="language">
                <button><a href="http://abror-marketing.herokuapp.com/en/">en</a></button>
                <button><a href="http://abror-marketing.herokuapp.com/ru/">ru</a></button>
                <button><a href="http://abror-marketing.herokuapp.com/uz/">uz</a></button>
              </li>
              <li>
              </li>
            </ul>
          </div>
        </div>
      </nav>

      <div>
        <img class="photo col-12" src="{% static 'img/abror.jpg' %}" alt="">
      </div>


    </div>
  </header>